* {
    font-family: Calibri;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #457ab7;
}

.logo_container {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.logo {
    color: white;
    padding: 10px 20px 0px 20px;
    margin: 0px;
    font-size: 50px;
}

.content_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px 10px 50px;
}

.task_bank {
    height: 700px;
    width: 400px;
    margin-right: 30px;
    background-color: #f17f67;
    border: 3px solid white; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task_bank_title {
    color: white;
    font-size: 40px;
    padding: 20px 0px 10px 0px;
}

.task_input_bar {
    width: 300px;
    height: 50px;
    border: 3px solid white;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
}

.timer_functions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 30px 20px;
}

.timer_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
}

.timer_question {
    font-size: 100px;
    color: white;
    letter-spacing: 2px;
    padding: 10px;
}

.timer {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input_time {
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    height: 75px;
    width: 250px;
}

.colon {
    font-size: 70px;
    font-style: bold;
    padding: 20px;
}

.line {
    background-color: white;
    border-radius: 5px;
    height: 10px;
    width: 700px;
}

.timer_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button_row {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}

.timer_button {
    border-radius: 15px;
    border: 3px solid white;
    background-color: #f17f67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    width: 250px;
    height: 75px;
    padding: 20px; 
}

.timer_button:hover {
    animation: 0s change-color forwards;
}

@keyframes change-color {
    from {background-color: #f17f67}
    to {background-color: #ee5e41}
}
